$title-color: rgba(0,0,0,.7);
$subtitle-color: rgba(0,0,0,.8);
$text-color: rgba(0,0,0,.7);
$section-title--red: #FF5B5B;
$section-title--blue: #377FEB;
$section-title--orange: #FF8710;
$link-highlight-color: lime;

.red {
    color: $section-title--red;
}
.blue {
    color: $section-title--blue;
}
.orange {
    color: $section-title--orange;
}




body {
    background: $background-color;
}

.main-grid {
    display: grid;
    grid-template-columns: 15vw minmax(50px, 800px) auto 20vw;
}

.home-item {
    grid-column: 2 / 3;
    grid-row-start: auto;
    display: grid;
    grid-template-columns: 80px 10% auto;

    &.title-container--name {
        margin-top: 15vh;
    }
    &.title-container--section {
        margin-top: 50px;
    }
    &.article-container--generic {
        margin-top: 26px;
    }
    &.footer-container {
        height: 15vh;
    }
}

.left-cover {
    grid-column: 1 / 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cover--profile-pic {
    border-radius: 100%;
}
.cover--emoji {
    font-size: 1.3rem;
}

.right-details {
    grid-column: 3 / 4;
    display: flex;
    flex-direction: column;
    color: $text-color;
}
.right-details__title--name {
    margin: 0;
    font-size: 2.3rem;
    font-weight: bold;
    letter-spacing: 3px;
    color: $title-color;
}
.right-details__title--section {
    margin: 0;
    font-size: 1.4rem;
    font-weight: bold;
    letter-spacing: 2px;
}
.right-details__title--generic {
    margin: 0;
    font-size: 1rem;
    font-weight: bold;
    color: $subtitle-color;
    text-decoration: none;
    &:after {
        content: '>';
        color: $text-color;
        margin-left: 10px;
        transition: 100ms ease-in-out;
    }
    &:hover:after {
        color: $link-highlight-color;
        margin-left: 20px;
    }
}
.right-details__description {
    font-size: .9rem;
    line-height: .95rem;
    padding-top: 5px;
}

.title-links {
    text-decoration: none;
}