$title-color: rgba(0,0,0,.7);
$subtitle-color: rgba(0,0,0,.8);
$text-color: rgba(0,0,0,.7);
$faint-text-color: rgba(0,0,0,.5);
$section-title--red: #FF5B5B;
$section-title--blue: #448AFF;
$section-title--orange: #FF8710;
$link-highlight-color: #448AFF;

* {
    transition: 100ms ease-in-out;
}

:root {
    --main-background-color: #fdfdfd;
    --title-color: rgba(0,0,0,.7);
    --subtitle-color: rgba(0,0,0,.8);
    --text-color: rgba(0,0,0,.7);
    --faint-text-color: rgba(0,0,0,.5);
}


@keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}

body {
    background: $background-color;
    background: var(--main-background-color);
}

.main-grid {
    display: -ms-grid;
    display: grid;
    grid-template-columns: 15vw minmax(50px, 800px) auto 20vw;
    -ms-grid-columns: 15vw minmax(50px, 800px) auto 20vw;
    animation: fadein 300ms;
}

.home-item {
    grid-column: 2 / 3;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-row-start: auto;
    display: -ms-grid;
    display: grid;
    grid-template-columns: 80px 10% auto;
    -ms-grid-columns: 80px 10% auto;

    &.title-container--name {
        margin-top: 15vh;
    }
    &.title-container--name--small {
        --vertical-margin: 5.5vh;
        margin-top: 5.5vh;
        margin-bottom: 5.5vh;
        margin-top: var(--vertical-margin);
        margin-bottom: var(--vertical-margin);
    }
    &.title-container--section {
        margin-top: 50px;
    }
    &.article-container--generic {
        margin-top: 26px;
    }
    &.header-separator {
        height: 3vh;
    }
    &.article-separator {
        height: 100px;
    }
    &.footer-container {
        height: 20vh;
    }
}

.left-cover {
    grid-column: 1 / 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cover--profile-pic {
    border-radius: 37.5%;
    max-width: 80px;

    &.small {
        max-width: 50px;
    }
}
.cover--emoji {
    font-size: 1.3rem;
    margin: 0;

    &.large {
        font-size: 2rem;
    }
}
.cover--date {
    font-size: .8rem;
    color: $faint-text-color;
    color: var(--faint-text-color);
}

.right-details {
    grid-column: 3 / 4;
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    display: flex;
    flex-direction: column;
    color: $text-color;
    color: var(--text-color);
}
.right-details__title--name {
    margin: 0;
    font-size: 2.3rem;
    font-weight: bold;
    letter-spacing: 3px;
    color: $title-color;
    color: var(--title-color);

    &.small {
        font-size: 1rem;
        font-weight: normal;
        color: $faint-text-color;
        color: var(--faint-text-color);
        &:before {
            content: '\02190';
            position: absolute;
            transform: translateX(-30px);
            margin-right: 10px;
            transition: 100ms ease-in-out;
        }
        &:hover:before {
            color: $link-highlight-color;
            transform: translateX(-40px);
        }
    }
}
.right-details__title--section {
    margin: 0;
    font-size: 1.4rem;
    font-weight: bold;
    letter-spacing: 2px;
}
.right-details__title--date {
    margin: 0;
    font-size: 1rem;
    font-weight: normal;
    letter-spacing: 2px;
    color: $faint-text-color;
    color: var(--faint-text-color);
}
.right-details__title--generic {
    margin: 0;
    font-size: 1rem;
    font-weight: bold;
    color: $subtitle-color;
    color: var(--subtitle-color);
    text-decoration: none;
    &.light {
        font-weight: normal;
        font-size: .9rem;
        color: $faint-text-color;
        color: var(--faint-text-color);
    }
    &:after {
        content: '\02192';
        color: $text-color;
        color: var(--text-color);
        margin-left: 10px;
        transition: 100ms ease-in-out;
    }
    &:hover:after {
        color: $link-highlight-color;
        margin-left: 20px;
    }
}
.right-details__title--content {
    margin: 0;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 2px;
    line-height: 2rem;
    color: $title-color;
    color: var(--title-color);
}
.right-details__description {
    font-size: .9rem;
    line-height: .95rem;
    padding-top: 5px;
    a {
        color: $faint-text-color;
        color: var(--faint-text-color);
    }
}
.right-details__description--content, 
.right-details__description--postnav {
    font-size: .9rem;
    line-height: 1.2rem;
    padding-top: 30px;
    &.no-top-padding {
        padding-top: 0;
    }
    h1, h2, h3 {
        font-weight: bold;
        color: $title-color;
        color: var(--title-color);
    }
    h1, h2 {
        margin-top: 35px;
    }
    img, iframe {
        padding: 10px 0;
    }
    a {
        color: $title-color;
        color: var(--title-color);
    }
}
.right-details__description--blognav {
    font-size: 1.1rem;
    line-height: 1.2rem;
    padding-top: 30px;
    font-weight: bold;
    a {
        color: $title-color;
        color: var(--title-color);
    }
}
.right-details__description--postnav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .next {
        text-align: right;
    }
}
.right-details__description--postnav__elem {
    display: flex;
    flex-direction: column;
    .post-icon {
        font-size: 1.3rem;
        color: white;
        padding-bottom: 10px;
    }
    .next {
        align-items: flex-end;
        padding-left: 10px;
    }
}
.right-details__footer {
    padding-top: 10vh;
    * {
        color: $faint-text-color;
        color: var(--faint-text-color);
    }
}
.right-details__divider {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid $faint-text-color;
    border-top: 1px solid var(--faint-text-color);
    margin: 50px 0;
    padding: 0; 
    opacity: .3;
}

.theme-chooser-btn {
    position: fixed;
    right: 20px;
    top: 20px;
    border: none;
    background: none;
    outline: 0;
    font-size: 1rem;
    cursor: pointer;
    &:before {
        content: 'Dark/Light \02192';
        font-family: $base-font-family;
        font-size: .8rem;
        color: $text-color;
        color: var(--text-color);
        margin-right: 20px;
        opacity: 0;
        transition: 100ms ease-in-out;
    }
    &:hover:before {
        margin-right: 10px;
        opacity: 1;
    }
}

.title-links {
    text-decoration: none;
}


.red {
    color: $section-title--red;
}
.blue {
    color: $section-title--blue;
}
.orange {
    color: $section-title--orange;
}




@media screen and (max-width: $on-tablet) {
    .main-grid {
        grid-template-columns: 8vw minmax(50px, 800px) auto 100px;
        -ms-grid-columns: 8vw minmax(50px, 800px) auto 100px;
    }
    .theme-chooser-btn {
        position: absolute;
        &:before {
            display: none;
        }
    }
}

@media screen and (max-width: $on-palm) {
    .main-grid {
        grid-template-columns: 8vw minmax(50px, 800px) auto 8vw;
        -ms-grid-columns: 8vw minmax(50px, 800px) auto 8vw;
    }
    .home-item {
        grid-template-columns: 0 0 auto;
        -ms-grid-columns: 0 0 auto;
    }
    .left-cover {
        grid-column: 3 / 4;
        -ms-grid-column: 3;
        -ms-grid-column-span: 2;
        align-items: flex-start;
    }
    .cover--profile-pic {
        margin-bottom: 10px;
    }
    .right-details__title--name {
        &.small {
            &:before {
                position: initial;
                margin-right: 10px;
            }
            &:hover:before {
                color: $link-highlight-color;
            }
        }
    }

    _:-ms-lang(x), .home-item {
        display: flex;
        flex-direction: column;
        padding: 0 30px;
    }
    _:-ms-lang(x), .home-item.right-details__title--name {
        &.small {
            &:before {
                display: none;
            }
        }
    }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .main-grid {
        display: flex;
        flex-direction: column;
    }
    .right-details {
        max-width: 700px;
    }
    .theme-chooser-btn {
        display: none;
    }
}

@supports ( not (--a: 0)) {
    .theme-chooser-btn {
        display: none;
    }
}