.back {
  position: fixed;
  color: #aaa;
  opacity: .9;
  top: 108px;
  left: 8vw;

  i {
    font-size: 40px;
  }

  img {
    width: 40px;
    height: 40px;
    opacity: .3;
  }
}

.small-back {
  display: none;
  position: fixed;
  border-radius: 100%;
  border: 1px solid #757575;
  background: white;
  padding: 10px;
  top: 20px;
  left: 15px;
}

@media screen and (max-width: 1200px) {
  .small-back {
    display: inline;
  }
  
  .back {
    display: none;
  }
}

.left-side {
  flex-grow: 1;
}

.right-side {
  flex-grow: 2;
}

.subpage-content {
  width: $content-width;
  padding: 0 20px;
  
  p {
    padding: 0 8px 0 2px;
  }
}

.card-link {
  text-decoration: none;
}

.content-card {
  width: 90%;
  height: 160px;
  background: rgba(255,255,255,0.8);
  box-shadow: 0px 6px 10px 1px rgba(0,0,0,0.05);
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
  padding: 30px 0 0 35px;
  border: 1px solid rgba(255,255,255,0);
  border-radius: 12px;
  transition: 100ms ease-out;

  &:hover {
    transform: scale(1.05);
  }

  h2 {
    color: #757575;
    font-weight: 700;
    margin-bottom: 12px;
    padding-right: 10px;
  }

  p {
    font-family: $content-font-family;
    max-width: 80%;
    color: #757575;
    font-weight: 300;
    // letter-spacing: .6px;
  }

  @media only screen and (-moz-max-device-pixel-ratio: 2), 
       only screen and (-o-max-device-pixel-ratio: 2/1), 
       only screen and (-webkit-max-device-pixel-ratio: 2), 
       only screen and (max-device-pixel-ratio: 2) {
    h2 {
      font-weight: 700;
    }

    p {
      font-weight: 400;
    }
  }
}

@media screen and (max-width: 480px) {
  .content-card {
    padding: 30px 0 0 30px;
    height: 200px;
  }
}

// .border-teal {
//   border-left: 3px solid #009688;
//   border-top-left-radius: 0;
//   border-bottom-left-radius: 0;
//   &:hover {
//     border-radius: 12px;
//     border: 3px solid #009688;
//   }
// }
.border-teal:hover {
  border: 1px solid #009688;
}
.border-orange:hover {
  border: 1px solid #ff5722;
}
.border-magenta:hover {
  border: 1px solid #9c27b0;
}
.border-blue:hover {
  border: 1px solid #2196F3;
}

.subpage-header {
  display: flex;
  justify-content: center;
  height: 220px;
  width: 100%;
  padding: 0 auto;
  animation: slide-down 300ms forwards cubic-bezier(0.000, 0.060, 0.000, 1.005);

  .right-side {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 105px;
  }

  .subpage-content {
    h1 {
      position: absolute;
      top: 105px;
      color: white;
      font-weight: 700;
      font-size: 35px;
      margin: 6px 0 0 0;
      line-height: 35px;
    }

    p {
      position: absolute;
      top: 105px + 35px + 10px;
      color: white;
      font-size: 15px;
    }

    span {
      position: absolute;
      top: 105px - 20px;
      color: #757575;
      font-weight: 400;
    }

    .title-bull {
      position: absolute;
      top: 106px;
      transform: translate(-30px, 0);
      font-size: 2rem;
    }
  }

  &.blue {
    background: #039be5;
  }

  &.amber {
    background: #ffb300;
  }

  &.green {
    background: #43a047;
  }

  &.clear {
    background: none;
    height: 250px;

    .subpage-content * {
      color: #757575;
      text-shadow: 0 0 30px rgba(253,253,253,1);
    }

    .subpage-content {
      .title-bull {
        padding-left: 36px;
      }

      h1 {
        top: 105px;
        padding-left: 35px;
      }

      p {
        font-family: $content-font-family;
        color: #909090;
        top: 105px + 35px + 15px;
        font-weight: 400;
        max-width: 350px;
        line-height: 1.2rem;
        padding-left: 38px;
      }
    }
  }
  
  /* PROJECT PAGE HEADER */

  &.project,
  &.article {
    background: none;
    height: 220px - 50px;

    .subpage-content {
      h1,
      p {
        color: #757575;
      }
    }

    .left-side {
      i {
        color: #757575;
      }
    }

  }

}

@keyframes slide-down {
  0% {
    transform: translateY(-10px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.main-section {
  display: flex;
  justify-content: center;

  .subpage-content,
  .article-content {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    padding: 0 20px;
  }

  .article-content {
    width: $content-width;
    color: #555;
    font-family: $content-font-family;
    font-weight: 400;

    &.post {
      padding-top: 82px;

      // p {
      //   max-width: 700px;
      // }

      span,
      h1,
      h2,
      h3 {
        font-family: $base-font-family;
        color: #757575;
      }

      h2,
      h3 {
        font-family: $content-font-family;
      }

      .subheading {
        padding-bottom: 35px;
      }

      h1 {
        font-weight: 700;
        font-size: 35px;
        line-height: 35px;
        margin: 5px 0;
      }

      h2 {
        font-weight: 700;
        margin-top: 25px;
      }

      h3 {
        font-weight: 500;
        font-size: 20px;
      }
    }
    
    h2 {
      font-weight: 500;
      // font-style: italic;
      padding-top: 10px;
    }

    img {
      margin: 20px 0;
      box-shadow: 0px 6px 10px 1px rgba(0,0,0,0.1);
    }

    a {
      font-style: italic;

      &:link {
        color: #2196f3;
      }
      &:visited {
        color: #3f51b5;
      }
    }
  }

}