.left-side {
  flex-grow: 1;

  .back {
    position: fixed;
    color: #ddd;
    opacity: .7;
    top: 110px;
    left: 8vw;

    i {
      font-size: 40px;
    }
  }
}

.right-side {
  flex-grow: 2;
}

.subpage-content {
  width: $content-width;
  padding: 0 20px;
}

.card-link {
  text-decoration: none;
}

.content-card {
  width: 90%;
  height: 180px;
  background: white;
  box-shadow: 0px 6px 10px 1px rgba(0,0,0,0.05);
  display: flex;
  flex-direction: column;
  margin-top: 45px;
  padding: 35px 0 0 40px;
  border-radius: 12px;
  transition: 100ms ease-out;

  &:hover {
    transform: scale(1.05);
  }

  h2 {
    color: #757575;
    font-weight: 700;
    margin-bottom: 12px;
  }

  p {
    max-width: 80%;
    color: #757575;
    font-weight: 300;
    // letter-spacing: .6px;
  }

  @media only screen and (-moz-max-device-pixel-ratio: 2), 
       only screen and (-o-max-device-pixel-ratio: 2/1), 
       only screen and (-webkit-max-device-pixel-ratio: 2), 
       only screen and (max-device-pixel-ratio: 2) {
    h2 {
      font-weight: 700;
    }

    p {
      font-weight: 400;
    }
  }
}

.border-teal {
  // border: 1px solid #009688;
}
.border-orange {
  // border: 1px solid #ff5722;
}
.border-magenta {
  // border: 1px solid #9c27b0;
}

.subpage-header {
  background: #039be5;
  display: flex;
  justify-content: center;
  height: 220px;
  width: 100%;
  padding: 0 auto;

  .right-side {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 105px;
  }

  .subpage-content {
    h1 {
      position: absolute;
      top: 105px;
      color: white;
      font-weight: 700;
      font-size: 35px;
      margin: 6px 0 0 0;
      line-height: 35px;
    }

    p {
      position: absolute;
      top: 105px + 35px + 10px;
      color: white;
      font-size: 15px;
    }

    span {
      position: absolute;
      top: 105px - 20px;
      color: #757575;
      font-weight: 400;
    }
  }

  /* PROJECT PAGE HEADER */

  &.project,
  &.article {
    background: none;
    height: 220px - 50px;

    .subpage-content {
      h1,
      p {
        color: #757575;
      }
    }

    .left-side {
      i {
        color: #757575;
      }
    }

  }

}

.main-section {
  display: flex;
  justify-content: center;

  .subpage-content,
  .article-content {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    padding: 0 20px;
  }

  .article-content {
    width: $content-width;
    color: #757575;
    font-family: 'Source Sans Pro', Helvetica Neue, Arial, sans-serif;
    font-weight: 400;

    &.post {
      padding-top: 30px;

      p {
        max-width: 600px;
        // font-size: 18px;
      }

      h2 {
        font-family: $base-font-family;
        font-weight: 700;
      }

      h3 {
        font-family: $base-font-family;
        font-weight: 500;
        font-size: 22px;
      }
    }
    
    h2 {
      font-weight: 500;
      font-style: italic;
      padding-top: 10px;
    }

    img {
      margin: 20px 0;
      box-shadow: 0px 6px 10px 1px rgba(0,0,0,0.1);
    }

    a {
      font-style: italic;

      &:link {
        color: #2196f3;
      }
      &:visited {
        color: #3f51b5;
      }
    }
  }

}