--- 
layout: default 
permalink: /blog/
---

<div class="home-item title-container--name--small">
    <div class="right-details">
        <a class="title-links" href="{{ site.baseurl }}/">
            <h1 class="right-details__title--name small">GORDON CHENG</h1>
        </a>
    </div>
</div>

<div class="home-item article-container--content">
    <div class="right-details">
        <h1 class="right-details__title--content orange">ARTICLES</h1>
    </div>
</div>
<div class="home-item header-separator"></div>

{% for post in paginator.posts %}
<div class="home-item article-container--generic">
    <div class="left-cover">
        <h1 class="cover--emoji large">{{ post.icon }}</h1>
    </div>
    <div class="right-details">
        {%- if post.date -%}
        <h3 class="right-details__title--date">{{ post.date | date: "%Y-%m-%d"}}</h3>
        {%- endif -%}
        <a class="title-links" href="{{ post.url | prepend: site.baseurl }}">
            <h1 class="right-details__title--content">{% if post.article_title %}{{ post.article_title }}{% else %}{{ post.title }}{% endif %}</h1>
        </a>
        <div class="right-details__description--content">
            {{ post.content }}
        </div>
    </div>
</div>
<div class="home-item article-separator">
    <div class="right-details">
        <hr class="right-details__divider">
    </div>
</div>
{% endfor %}

{% if paginator.total_pages > 1 %}
<div class="home-item article-container--generic">
    <div class="right-details">
        <div class="right-details__description--blognav">
        {% if paginator.previous_page %}
            <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
        {% endif %}
        {% if paginator.previous_page and paginator.next_page %}
         / 
        {% endif %}
        {% if paginator.next_page %}
            <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
        {% endif %}
        </div>
    </div>
</div>
{% endif %}
