<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>

        <a class="back" href="{{ site.baseurl }}/projects"><i class="material-icons" role="button" aria-label="Back">arrow_back</i></a>

    <section class="main-section">
      <section class="left-side"></section>
      <section class="article-content post">

        <span>Article</span>
        <h1>{{ page.article_title }}</h1>
        <span class="subheading">{{ page.subheading }}</span>
        
        {{ content }}

      </section>
      <section class="right-side"></section>
    </section>

  </body>
</html>