<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>

    <a class="back" href="{{ site.baseurl }}/">
      <img src="{{ site.baseurl }}/assets/ic_arrow_back_black_24px.svg">
    </a>

    <a class="small-back" href="{{ site.baseurl }}/">
      <img src="{{ site.baseurl }}/assets/ic_arrow_back_black_24px.svg">
    </a>

    <section class="main-section">
      <section class="left-side"></section>
      <section class="article-content post">

        <span>Project</span>
        <h1>{{ page.article_title }}</h1>
        <span class="subheading">{{ page.subheading }}</span>
        
        {{ content }}

      </section>
      <section class="right-side"></section>
    </section>

  </body>
</html>